body{
    font-family: "Montserrat", sans-serif;
}
.white-text{
    color: white;
}

.header-text{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.red-ish-text{
    color: $red-ish;
}

.normal-text{
    font-size: 1.5rem;
}

.bigger-text{
    font-size: 2rem;
}